.entirety {
    background: url(../assets/images/bloom-blooming-bottle-965731.jpg);
    min-height: calc(100vh - 40px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-wrapper {
    background-color: white;
    border-radius: 25px;
    border: 2px solid#666666;
    margin-top: 50px;
}

.header-wrapper.frags {
    margin-bottom: 50px;
}

.header-text {
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 13px;
}

.main-padding {
    padding-top: 80px;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}

.custom-divider {
    border-top: 2px solid #8c8b8b;
}

.fragrances {
    min-height: 782px;
}

.add-button {
    border-radius: 25px !important;
    bottom: 0px;
    background-color: #45e25f !important;
    color: white !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-transition: color 1000ms !important;
    transition: color 1000ms !important;
}

.add-button::before {
    border-radius: 25px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #44ca5a;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition-property: transform !important;
    transition-property: transform !important;
    -webkit-transition: 300ms ease-out !important;
    transition: 300ms ease-out !important;
}

.add-button:hover::before {
    border-radius: 25px !important;
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

.remove-button {
    border-radius: 25px !important;
    bottom: 0px;
    background-color: #e24545 !important;
    color: white !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-transition: color 1000ms !important;
    transition: color 1000ms !important;
}

.remove-button::before {
    border-radius: 25px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c03f3f;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition-property: transform !important;
    transition-property: transform !important;
    -webkit-transition: 300ms ease-out !important;
    transition: 300ms ease-out !important;
}

.remove-button:hover::before {
    border-radius: 25px !important;
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}
