.entire-screen {
    background-image: url("../assets/images/alex-blajan-142752-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form-card {
    background-color: white;
    border-radius: 10px;
}

.register-button {
    border-radius: 5px !important;
    bottom: 0px;
    background-color: #ff4081 !important;
    color: white !important;
    /* position: absolute; */
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-transition: color 1000ms !important;
    transition: color 1000ms !important;
}

.register-button::before {
    border-radius: 5px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff2771;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition-property: transform !important;
    transition-property: transform !important;
    -webkit-transition: 300ms ease-out !important;
    transition: 300ms ease-out !important;
}

.register-button:hover::before {
    border-radius: 5px !important;
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

.error-message {
    color: red;
    font-size: 14px;
}
